.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 8px;
  position: relative;
  height: 400px;
}

.underground{
  border: 1px solid white;
  background-color: rgb(81, 81, 255);
  text-align: center;
  padding-top: 40px;
  cursor: pointer;
}
  
.underground-div1 {
  grid-column: span 5 / span 5;
  grid-row: span 4 / span 4;
}

.underground-div2 {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 5;
}

.stairs{
  position: absolute;
  bottom: 0%;
  left: 5%;
  border: 2px solid white;
  background-color: rgb(81, 81, 255);
  padding: 3px;
}